.container__menu-title{
    margin: 10px 0;
}
.container__menu-title h1{
    color: white;
    padding: 10px;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.container__menu-title hr{
  border-color: rgb(112, 112, 112);
}
