.conteiner__small-card{
    
    width: 500px; 
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
    

}
.small-card__photo img{
 width: 200px;
 min-width: 200px;
 height: 150px;
 margin-right: 10px;
}
.small-card__content{
    display: flex;
    align-items: center;
}